

*{
    padding: 0;
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
body{
    background-color: bisque;
}
/* separador */
@import '../scss/componentes/Fuentes';
@import '../scss/base/listas';
@import '../scss/base/variables';
@import '../scss/componentes/header';
@import '../scss/componentes/section';
@import '../scss/componentes/footer';
@import '../scss/componentes/violines';
@import '../scss/componentes/form-contacto';
@import '../scss/componentes/museos';
@import '../scss/componentes/tienda';
@import '../scss/base/querys';

