/*Fuente*/
@font-face {
    font-family: Altona;
    src: url(/Fonts/altona_sans/AltonaSans-Regular.ttf);
}
/*reset*/
*{
    padding: 0;
    margin: 0;
    font-family: Altona; 
}
body{
    background-color: bisque;
}





