@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Yanone+Kaffeesatz:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

body {
  background-color: bisque;
}

/* separador */
footer .logo, nav .logo {
  display: absolute;
  width: 10rem;
}

@font-face {
  font-family: Cursiva;
  src: url(/Fonts/slightly_cursive_characters/5thgradecursive-2.ttf);
}
@font-face {
  font-family: Altona;
  src: url(/Fonts/altona_sans/AltonaSans-Regular.ttf);
}
/* colores */
footer .logo, nav .logo {
  display: absolute;
  width: 10rem;
}

/* Header, nav */
nav {
  background-color: bisque;
  border-bottom: 2px solid rgb(233, 210, 183);
}
nav .navbar-collapse {
  flex-grow: 0;
}
nav .fuente {
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
nav .font {
  font-family: "Cedarville Cursive", cursive;
  font-size: 50px;
  font-weight: 600;
  background-color: 0;
  color: rgb(78, 78, 78);
}
nav ul .nav-link {
  display: table-cell;
  position: relative;
  padding: 4px 0;
}
nav ul .nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav ul .nav-link:hover:after {
  width: 100%;
  left: 0;
}
nav .dropdown-menu {
  border: 1px solid rgb(233, 210, 183);
  border-top: none;
  background-color: antiquewhite;
  color: 0;
}
/* end header, nav */
footer .logo, nav .logo {
  display: absolute;
  width: 10rem;
}

/* seccion principal */
.card-text {
  color: black;
}

.card-body {
  color: black;
}

/* Fin seccion principal */
/* Footer */
footer .logo, nav .logo {
  display: absolute;
  width: 10rem;
}

footer {
  background-color: #191919;
  color: beige;
}
footer .font {
  font-family: "Cedarville Cursive", cursive;
  font-size: 50px;
}
footer a {
  text-decoration: none;
}

/* End footer */
nav .logo, footer .logo {
  display: absolute;
  width: 10rem;
}

/* Página Violines */
.size {
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.bgcolor {
  border-radius: 3px;
  border: 1px solid gray;
  background-color: rgb(248, 148, 81);
}

/* Fin violines */
nav .logo, footer .logo {
  display: absolute;
  width: 10rem;
}

#contact input[type=text],
#contact input[type=email],
#contact input[type=tel],
#contact input[type=url],
#contact textarea,
#contact button[type=submit] {
  font: 500 1rem/2rem Arial;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type=text],
#contact input[type=email],
#contact input[type=tel],
#contact input[type=url],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type=text]:hover,
#contact input[type=email]:hover,
#contact input[type=tel]:hover,
#contact input[type=url]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type=submit] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type=submit]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type=submit]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

nav .logo, footer .logo {
  display: absolute;
  width: 10rem;
}

nav .logo, footer .logo {
  display: absolute;
  width: 10rem;
}

/* Tienda Page */
.logo {
  width: 4rem;
}

.caja {
  border: 1.5px solid gray;
  border-radius: 1rem;
  font-weight: 400;
  list-style: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: antiquewhite;
  color: 0;
}
.caja a {
  text-decoration: none;
  background-color: 0;
  color: green;
}
.caja a:hover {
  font-weight: 900;
  color: rgb(26, 97, 26);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.082), 1px 1px 2px rgba(0, 0, 0, 0.082), 1px 1px 3px rgba(0, 0, 0, 0.082);
}

.modal-content {
  background-color: bisque;
}
.modal-content .modal-header {
  padding: 1rem;
  border-bottom: 1px solid rgb(190, 195, 201);
}
.modal-content .modal-footer {
  border-top: 1px solid rgb(190, 192, 201);
}

.btn-primary {
  color: #fff;
  background-color: #228b22;
  border-color: #2c812c;
}
.btn-primary:hover {
  color: #fff;
  background-color: #1b6f1b;
  border-color: #228b22;
}
.btn-primary:focus {
  color: #fff;
  background-color: #008f39;
  border-color: #4c9141;
  box-shadow: 0 0 0 0.25rem rgba(150, 170, 1, 0.4784313725);
}

/* end tienda Page */
/* media querys */
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
@media screen and (min-width: 300px) and (max-width: 928px) {
  .iframe {
    width: 400px !important;
    height: 300px !important;
  }

  .ajust {
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
