@import '../base/mapa';
/* media querys */
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

@media  screen and (min-width: 300px) and (max-width: 928px) {
    body{
        background-color: map-get($mobile, bg-color-mobile);
        font-size: map-get($mobile, mobile-font);
    }
    .iframe{
        width: 400px!important;
        height: 300px!important;
    }
    .ajust{
        width: 100%!important;
    }
    
}