/* Footer */
@import '../base/mixins';
@import '../base/listas';
@import '../base/extends';
@import '../base/operaciones';
footer{
    .logo{
        @extend %icons
    }
    background-color: $bg-color-footer;
    color: beige;
    .font{
        font-family: 'Cedarville Cursive', cursive;
        font-size: nth($fuente, 6);
    }
    a{
        text-decoration: none;
    }
}


/* End footer */