@import '../base/mixins';
@import '../base/listas';
@import '../base/extends';
@import '../base/operaciones';
/* Header, nav */

nav{
  background-color: $bg-color-header;
  border-bottom: 2px solid rgb(233, 210, 183);
    .navbar-collapse {
        flex-grow: 0;
      }
      .fuente {
        font-weight: 900;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      .font {
        font-family: "Cedarville Cursive", cursive;
        font-size: 50px;
        font-weight: 600;
        @include bg-color(0, rgb(78, 78, 78))
      }
    ul{
        .nav-link {
            display: table-cell;
            position: relative;
            padding: 4px 0;
            &:after{
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            &:hover:after{
                width: 100%;
                left: 0;
            }
          }
    }
    .dropdown-menu {
        border: 1px solid rgb(233, 210, 183);
        border-top: none;
        @include bg-color(antiquewhite, 0)
      }
      .logo {
        @extend %icons
      }
}


/* end header, nav */