@import '../base/mixins';
@import '../base/listas';
@import '../base/extends';
@import '../base/operaciones';
/* Tienda Page */

    .logo{
        width: $medidas * 2;
    }
    .caja{
        border: 1.5px solid gray;
        border-radius: 1rem;
        font-weight: 400;
        list-style: none;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        @include bg-color(antiquewhite, 0);
        
        a{
            text-decoration: none;
            @include bg-color(0, green);
            
            &:hover{
                font-weight: 900;
                color: rgb(26, 97, 26);
                text-shadow: 
                1px 1px 1px rgba(0, 0, 0, 0.082),
                1px 1px 2px rgba(0, 0, 0, 0.082),
                1px 1px 3px rgba(0, 0, 0, 0.082);
            }
        }
        
    }

    .modal-content{
        background-color: nth($colores, 9);
        .modal-header {
            padding: 1rem;
            border-bottom: 1px solid rgb(190, 195, 201);
        }
        .modal-footer {
            
            border-top: 1px solid rgb(190, 192, 201);
            
        }
    }
    .btn-primary{
        color: #fff;
        background-color: #228b22;
        border-color: #2c812c;
        &:hover{
            color: #fff;
            background-color: #1b6f1b;
            border-color: #228b22;
        }
        &:focus{
            color: #fff;
            background-color: #008f39;
            border-color: #4c9141;
            box-shadow: 0 0 0 0.25rem #96aa017a;
        }
    }

/* end tienda Page */