@import '../base/mixins';
@import '../base/listas';
@import '../base/extends';
@import '../base/operaciones';
/* Página Violines */

.size{
    max-width: 75%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.bgcolor{
    border-radius: 3px;
    border: 1px solid gray;
    background-color: $bg-color-cards;
}

  /* Fin violines */